<div class="article">
  <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <div class="card-product mb-3">
        <%= cl_image_tag article.photos.first.key, crop: :fill %>
        <div class="article-info">
          <div class="article-title border-bottom">
            <p class="pl-2 pt-2"><%= article.title %></p>
            <p class="pr-2 pt-2">Publié le <%= article.created_at.to_s.split(" ").first(2).join(" à ") %></p>
          </div>
          <div class="article-rich pl-2">
            <div class="article-rich-body">
              <p><%= article.rich_body %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
