<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="article-bis">
        <%= simple_form_for(@article) do |f| %>
          <%= f.input :title %>
          <%= f.input :body %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, "POSTER", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
