<% if user_signed_in? %>
  <div class="d-flex justify-content-between">
    <%= link_to "Effacer",
                article_path(@article),
                method: :delete,
                data: {confirm: "Êtes-vous sûr(e)?" },
                class: "btn btn-danger mt-5" %>
    <%= link_to "Modifier l'article", edit_article_path(@article), class: "btn btn-success mt-5" %>
  </div>
<% end %>
<div class="article-show">
    <div class="article-title border-bottom">
      <p class="flex-grow-1 p-2"><%= @article.title %></p>
      <p class="p-2">Publié le <%= @article.created_at.to_s.split(" ").first(2).join(" à ") %></p>
    </div>
    <div class="p-2">
      <%= @article.rich_body %>
    </div>
    <% if @article.photos.count <= 1 %>
      <div class="article-photo">
        <% @article.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
      </div>
    <% else %>
      <div class="article-photos">
        <% @article.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
      </div>
    <% end %>
</div>
