<% if user_signed_in? %>
  <div class="sho d-flex justify-content-center border-bottom dropdown">
    <h4 class="mt-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= @theme.name %></h3>
    <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "MODIFIER NOM DU THEME", edit_theme_path(@theme), class: "dropdown-item" %>
      <%= link_to "AJOUTER PHOTO", new_theme_image_path(@theme), class: "dropdown-item" %>
      <%= link_to "Effacer #{@theme.name}",
                  theme_path(@theme),
                  method: :delete,
                  data: {confirm: "Êtes-vous sûr(e)?" },
                  class: "dropdown-item" %>
    </div>
  </div>
<% else %>
  <div class="sho border-bottom d-flex justify-content-center">
    <h3 class="mt-2 mb-3"><%= @theme.name %></h3>
  </div>
<% end %>
<div class="cards mt-3">
  <% @theme.images.each do |image| %>
    <div class="card d-flex flex-column justify-content-between" data-toggle="modal" data-target="#showModal">
      <%= cl_image_tag image.photo.key, crop: :fill %>
      <% if user_signed_in? %>
        <%= link_to "+", image_path(image), method: :delete, data: { confirm: "Are you sure?" }, class: "remove-link" %>
      <% end %>
      <div>
        <p class="p-2"><%= image.description %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="showModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm modal-lg modal-xl">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div class="single-item">
          <% @theme.images.each do |image| %>
            <div class="relou d-flex justify-content-center">
              <%= cl_image_tag image.photo.key, crop: :fill %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
