<div class="navbar-patou border-bottom">
  <ul class="d-flex justify-content-around align-items-center">
    <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to "ACCUEIL", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "PORTFOLIO", themes_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "BLOG", articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "A PROPOS", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "appareil_photo.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "AJOUTER THEME", new_theme_path, class: "dropdown-item" %>
          <%= link_to "AJOUTER ARTICLE", new_article_path, class: "dropdown-item" %>
          <%= link_to "LIVRE D'OR", livredors_path, class: "dropdown-item" %>
          <%= link_to "LISTE DES CONTACTS", contacts_path, class: "dropdown-item" %>
          <%= link_to "DECONNEXION", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "ACCUEIL", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "PORTFOLIO", themes_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "BLOG", articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "A PROPOS", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <p class="dropdown-toggle" id="navbarDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </p>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1">
          <%= link_to "CONTACT", new_contact_path, class: "dropdown-item" %>
          <%= link_to "LIVRE D'OR", livredors_path, class: "dropdown-item" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
