<div class="contact">
  <% @contacts.each do |contact| %>
    <% if contact.contacted == true %>
      <div class="para">
        <input class="form-checkbox" type="checkbox" value="" id="defaultCheck" data-contact-id="<%= contact.id %>">
        <div class="art">
          <p><%= contact.content %></p>
        </div>
        <div class="inf d-flex flex-column justify-content-center">
          <p><%= contact.email %></p>
          <p><%= contact.created_at %></p>
        </div>
      </div>
    <% else %>
      <div class="affiche">
        <input class="form-checkbox" type="checkbox" value="" id="defaultCheck" data-contact-id="<%= contact.id %>">
        <div class="art">
          <p><%= contact.content %></p>
        </div>
        <div class="inf d-flex flex-column justify-content-center">
          <p><%= contact.email %></p>
          <p><%= contact.created_at %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
