<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="contact d-flex justify-content-around align-items-center">
        <div class="question">
          <p>Une photo vous plait?</p>
          <p>Vous souhaitez avoir des renseignements?</p>
          <p>Contactez-moi</p>
        </div>
        <div class="formulaire">
          <%= simple_form_for(@contact) do |f| %>
            <%= f.input :email %>
            <%= f.input :content %>
            <%= f.button :submit, "ENVOYER", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
      <div class="butto">
        <% if user_signed_in? %>
          <%= link_to "LISTE DES CONTACTS", contacts_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
